body
{
    text-align: center;
    background-color:powderblue;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}


.my_nav_bar
{
    position:sticky;
    top:0;
    z-index:99999
}

input
{
    background: grey;
}

a
{
    text-indent: 50px;
}

button
{
    background-color: #4D5591;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

h1
{
    font-style:oblique;
    font-family: "Lucida Console", "Courier New", "Monospace";
    text-align: center;
    font-size: 100px;
    color: white;
}

th
{
    font-style:oblique;
    font-family: "Lucida Console", "Courier New", "Monospace";
    text-align: center;
    font-size: 80px;
    color: black;
}

td
{
    font-style:oblique;
    font-family: "Lucida Console", "Courier New", "Monospace";
    text-align: center;
    font-size: 35px;
    color: black;
    border: 10px solid #4D5591;
    border-radius: 5px;
    padding: 5px;
}